# Movie- recommender -System

** steps--
1. movie data from kaggle
2. data preproceesing
3. create model
4. website
5. deployement

In [ ]:
import numpy as np
import pandas as pd

In [2]:
print(np.__version__)
print(pd.__version__)

2.3.2
2.3.1

In [3]:
import csv
csv.field_size_limit(10**7)

131072

In [4]:
movies = pd.read_csv('movie_data.csv', engine='python')

In [5]:
movies.shape

(15873, 18)

In [6]:
# important columns---
# genres
# movie id
# keywords
# title
# overview
# cast
# crew

In [8]:
movies.head(10)

,Unnamed: 0,adult,backdrop_path,movie_id,original_language,original_title,overview,popularity,poster_path,release_date,title,video,vote_average,vote_count,genres,keywords,cast,crew
0,0,False,/kQM7o3NIkruIZLoQ9E2XzZQ8Ujl.jpg,783461,hi,लूप लपेटा,"When her boyfriend loses a mobster's cash, Sav...",56.311,/onGdT8sYi89drvSJyEJnft97rOq.jpg,2022-02-04,Looop Lapeta,False,6.2,54.0,"[{'id': 28, 'name': 'Action'}, {'id': 35, 'nam...","['remake', 'looop lapeta', 'saade saati']","[{'adult': False, 'gender': 1, 'id': 550167, '...","[{'adult': False, 'gender': 2, 'id': 1071, 'kn..."
1,1,False,/7w06baRS9VPm5RYz8lawTCLiR4j.jpg,592508,hi,Sooryavanshi,"A fearless, faithful albeit slightly forgetful...",45.077,/8p3mhjyLjHKtaAv8tFKfvEBtir0.jpg,2021-11-05,Sooryavanshi,False,5.8,133.0,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...","['police', 'sequel', 'police officer', 'cop un...","[{'adult': False, 'gender': 2, 'id': 35070, 'k...","[{'adult': False, 'gender': 2, 'id': 35070, 'k..."
2,2,False,/sP9mRWiCxCuy17tUJfV8TpSZpqc.jpg,864692,hi,पठान,A soldier caught by enemies and presumed dead ...,47.611,/m1b9toKYyCujHuLoXB5GSDunO9e.jpg,2023-01-25,Pathaan,False,6.7,70.0,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","['spy', 'fake death', 'spy thriller', 'spy uni...","[{'adult': False, 'gender': 2, 'id': 35742, 'k...","[{'adult': False, 'gender': 2, 'id': 35771, 'k..."
3,3,False,/vBmmJYv5asJpdJZsyPPc4MMpfBe.jpg,1018228,hi,चोर निकल के भागा,A flight attendant and her boyfriend must stea...,43.789,/1MIDERaEUMw1rYDM99tGZPY80Ap.jpg,2023-03-24,Chor Nikal Ke Bhaga,False,7.2,55.0,"[{'id': 80, 'name': 'Crime'}, {'id': 53, 'name...","['heist', 'airplane hijacking']","[{'adult': False, 'gender': 1, 'id': 1115720, ...","[{'adult': False, 'gender': 2, 'id': 102246, '..."
4,4,False,/u7kuUaySqXBVAtqEl9vkTkAzHV9.jpg,20453,hi,3 Idiots,Rascal. Joker. Dreamer. Genius... You've never...,37.260,/66A9MqXOyVFCssoloscw79z8Tew.jpg,2009-12-25,3 Idiots,False,8.0,2052.0,"[{'id': 18, 'name': 'Drama'}, {'id': 35, 'name...","['suicide', 'suicide attempt', 'college', 'mus...","[{'adult': False, 'gender': 2, 'id': 52763, 'k...","[{'adult': False, 'gender': 2, 'id': 35779, 'k..."
5,5,False,/fpgSkuEG2eV9nOHAYzqfOg1R8t2.jpg,26022,hi,My Name Is Khan,"Rizwan Khan, a Muslim from the Borivali sectio...",31.062,/5Y36lCiNyyV71mjq6LavgiggbhT.jpg,2010-02-10,My Name Is Khan,False,8.1,1133.0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...","['autism', 'mumbai (bombay), india', 'based on...","[{'adult': False, 'gender': 2, 'id': 35742, 'k...","[{'adult': False, 'gender': 1, 'id': 8311, 'kn..."
6,6,False,/vI3aUGTuRRdM7J78KIdW98LdxE5.jpg,19404,hi,दिलवाले दुल्हनिया ले जायेंगे,"Raj is a rich, carefree, happy-go-lucky second...",22.596,/ktejodbcdCPXbMMdnpI9BUxW6O8.jpg,1995-10-19,Dilwale Dulhania Le Jayenge,False,8.6,4097.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...","[""family's daily life"", 'family history', 'lov...","[{'adult': False, 'gender': 2, 'id': 35742, 'k...","[{'adult': False, 'gender': 1, 'id': 8311, 'kn..."
7,7,False,/lNnnhBxQESk0WbUXNeh24Dx8XA7.jpg,767377,hi,धमाका,When a cynical ex-TV news anchor gets an alarm...,21.147,/KowKEuyWziUtnCYicv6zhzTQIv.jpg,2021-11-19,Dhamaka,False,7.1,73.0,"[{'id': 53, 'name': 'Thriller'}, {'id': 18, 'n...",['remake'],"[{'adult': False, 'gender': 2, 'id': 1846859, ...","[{'adult': False, 'gender': 2, 'id': 53677, 'k..."
8,8,False,/i1K9Bmq8oO0mkUJRNW7mXIWkzcn.jpg,496331,hi,ब्रह्मास्त्र पहला भाग: शिवा,The story of Shiva – a young man on the brink ...,21.294,/x61qdvHIsr9U53FwoLVDQqAGur0.jpg,2022-09-09,Brahmāstra Part One: Shiva,False,6.7,109.0,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","['mythology', 'superhero', 'astraverse']","[{'adult': False, 'gender': 2, 'id': 85034, 'k...","[{'adult': False, 'gender': 2, 'id': 8684, 'kn..."
9,9,False,/wJLV2ygHhTHG0nRTXlvA6wS8ubL.jpg,534780,hi,अंधाधुन,A series of mysterious events changes the life...,18.334,/dy3K6hNvwE05siGgiLJcEiwgpdO.jpg,2018-10-05,Andhadhun,False,7.6,396.0,"[{'id': 80, 'name': 'Crime'}, {'id': 53, 'name...","['pianist', 'blind man', 'piano']","[{'adult': False, 'gender': 2, 'id': 1033157, ...","[{'adult': False, 'gender': 2, 'id': 71089, 'k..."

In [8]:
movies = movies[['movie_id','title','overview','genres','keywords','cast','crew']]

In [9]:
movies.head(1)

,movie_id,title,overview,genres,keywords,cast,crew
0,783461,Looop Lapeta,"When her boyfriend loses a mobster's cash, Sav...","[{'id': 28, 'name': 'Action'}, {'id': 35, 'nam...","['remake', 'looop lapeta', 'saade saati']","[{'adult': False, 'gender': 1, 'id': 550167, '...","[{'adult': False, 'gender': 2, 'id': 1071, 'kn..."

In [10]:
movies.shape

(15873, 7)

In [11]:
movies.isnull().sum()

movie_id      0
title         2
overview    216
genres        4
keywords      4
cast          4
crew          4
dtype: int64

In [12]:
movies.dropna(inplace=True)             # delete the rows that contains missing(NaN) values

In [13]:
movies.duplicated().sum()

np.int64(0)

In [14]:
movies.drop_duplicates(inplace=True)  # delete all rows that has duplicates value

In [15]:
movies.shape

(15653, 7)

In [16]:
movies['keywords']

0                ['remake', 'looop lapeta', 'saade saati']
1        ['police', 'sequel', 'police officer', 'cop un...
2        ['spy', 'fake death', 'spy thriller', 'spy uni...
3                          ['heist', 'airplane hijacking']
4        ['suicide', 'suicide attempt', 'college', 'mus...
                               ...
15868    ['hunter', 'bosnia and herzegovina', 'cabin', ...
15869    ['sheriff', 'miner', 'delusion', 'head injury'...
15870    ['suicide attempt', 'gun', 'texas', 'mass murd...
15871    ['based on novel or book', 'small town', 'high...
15872    ['camp', 'best friend', 'co-workers relationsh...
Name: keywords, Length: 15653, dtype: object

In [17]:
movies.iloc[0].genres

"[{'id': 28, 'name': 'Action'}, {'id': 35, 'name': 'Comedy'}, {'id': 80, 'name': 'Crime'}]"

In [18]:
import ast

In [19]:
def convert(obj):
    L=[]
    for i in ast.literal_eval(obj):
        L.append(i['name'])
    return L

In [20]:
movies['genres']=movies['genres'].apply(convert)

In [21]:
movies['keywords']=movies['keywords'].apply(ast.literal_eval)

In [22]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,783461,Looop Lapeta,"When her boyfriend loses a mobster's cash, Sav...","[Action, Comedy, Crime]","[remake, looop lapeta, saade saati]","[{'adult': False, 'gender': 1, 'id': 550167, '...","[{'adult': False, 'gender': 2, 'id': 1071, 'kn..."
1,592508,Sooryavanshi,"A fearless, faithful albeit slightly forgetful...","[Action, Crime, Thriller]","[police, sequel, police officer, cop universe]","[{'adult': False, 'gender': 2, 'id': 35070, 'k...","[{'adult': False, 'gender': 2, 'id': 35070, 'k..."
2,864692,Pathaan,A soldier caught by enemies and presumed dead ...,"[Action, Adventure, Thriller]","[spy, fake death, spy thriller, spy universe, ...","[{'adult': False, 'gender': 2, 'id': 35742, 'k...","[{'adult': False, 'gender': 2, 'id': 35771, 'k..."
3,1018228,Chor Nikal Ke Bhaga,A flight attendant and her boyfriend must stea...,"[Crime, Thriller]","[heist, airplane hijacking]","[{'adult': False, 'gender': 1, 'id': 1115720, ...","[{'adult': False, 'gender': 2, 'id': 102246, '..."
4,20453,3 Idiots,Rascal. Joker. Dreamer. Genius... You've never...,"[Drama, Comedy]","[suicide, suicide attempt, college, musical, s...","[{'adult': False, 'gender': 2, 'id': 52763, 'k...","[{'adult': False, 'gender': 2, 'id': 35779, 'k..."

In [23]:
movies['cast'][0]

"[{'adult': False, 'gender': 1, 'id': 550167, 'known_for_department': 'Acting', 'name': 'Taapsee Pannu', 'original_name': 'Taapsee Pannu', 'popularity': 6.156, 'profile_path': '/u9Gwg3J0bdczTPunP8qoWK2Vhu4.jpg', 'cast_id': 1, 'character': 'Savi', 'credit_id': '5ff5b30128723c0040af9605', 'order': 0}, {'adult': False, 'gender': 2, 'id': 1714229, 'known_for_department': 'Acting', 'name': 'Tahir Raj Bhasin', 'original_name': 'Tahir Raj Bhasin', 'popularity': 2.203, 'profile_path': '/A4ylMYWj8IqnmX74Two8c4Lp8jY.jpg', 'cast_id': 3, 'character': 'Satya', 'credit_id': '5ff5b31dd38b580043cb4047', 'order': 1}, {'adult': False, 'gender': 1, 'id': 2092738, 'known_for_department': 'Acting', 'name': 'Shreya Dhanwanthary', 'original_name': 'Shreya Dhanwanthary', 'popularity': 8.802, 'profile_path': '/dSWHYuEWjPzczAzdLFgYHt3Y5Dd.jpg', 'cast_id': 15, 'character': 'Julia', 'credit_id': '6136133e2cde980089dc0082', 'order': 2}, {'adult': False, 'gender': 2, 'id': 101823, 'known_for_department': 'Acting', 'name': 'Dibyendu Bhattacharya', 'original_name': 'Dibyendu Bhattacharya', 'popularity': 6.209, 'profile_path': '/uLlGKCL9y5CFBwcAafTDQhupz5h.jpg', 'cast_id': 22, 'character': 'Victor', 'credit_id': '61d91fac33a53300415c3d18', 'order': 3}, {'adult': False, 'gender': 0, 'id': 1252843, 'known_for_department': 'Acting', 'name': 'Rajendra Chawla', 'original_name': 'Rajendra Chawla', 'popularity': 1.108, 'profile_path': '/rwldmP0tneEflAVgOaQsYmvTZju.jpg', 'cast_id': 21, 'character': 'Mamlesh Charan Chaddha', 'credit_id': '61d91fa2a6fdaa009333e436', 'order': 4}, {'adult': False, 'gender': 2, 'id': 2365591, 'known_for_department': 'Acting', 'name': 'K.C. Shankar', 'original_name': 'K.C. Shankar', 'popularity': 2.075, 'profile_path': '/fbxJMM6YZGl3OLHhnqISzPjbSpB.jpg', 'cast_id': 23, 'character': 'Atul Borkar', 'credit_id': '61d91fb833a53300415c3d36', 'order': 5}, {'adult': False, 'gender': 2, 'id': 1927085, 'known_for_department': 'Directing', 'name': 'Suresh Triveni', 'original_name': 'Suresh Triveni', 'popularity': 0.98, 'profile_path': None, 'cast_id': 34, 'character': 'Gangster Pedro', 'credit_id': '61e2f1d4ffd44d006bd2b773', 'order': 6}, {'adult': False, 'gender': 2, 'id': 2967857, 'known_for_department': 'Acting', 'name': 'Manik Papneja', 'original_name': 'Manik Papneja', 'popularity': 1.177, 'profile_path': '/bjVqyExEk5n1qHLuOnbR8UbPLpY.jpg', 'cast_id': 24, 'character': 'Appu', 'credit_id': '61d91fc9293835009569944f', 'order': 7}, {'adult': False, 'gender': 2, 'id': 2400790, 'known_for_department': 'Acting', 'name': 'Raghav Raj Kakker', 'original_name': 'Raghav Raj Kakker', 'popularity': 1.22, 'profile_path': '/p4TqLqcbyZWryGGDJjMaYL89CfU.jpg', 'cast_id': 25, 'character': 'Gappu', 'credit_id': '61d91fe09824c8004140a205', 'order': 8}, {'adult': False, 'gender': 2, 'id': 1951414, 'known_for_department': 'Acting', 'name': 'Sameer Kevin Roy', 'original_name': 'Sameer Kevin Roy', 'popularity': 1.38, 'profile_path': None, 'cast_id': 26, 'character': 'Jacob', 'credit_id': '61d91fea5ed8e9001d41c9e2', 'order': 9}, {'adult': False, 'gender': 2, 'id': 3373394, 'known_for_department': 'Acting', 'name': 'Bhupesh Bandekar', 'original_name': 'Bhupesh Bandekar', 'popularity': 0.98, 'profile_path': None, 'cast_id': 27, 'character': 'Inspector David Colaco', 'credit_id': '61d91ff70e5aba0042ffb116', 'order': 10}, {'adult': False, 'gender': 2, 'id': 3412117, 'known_for_department': 'Acting', 'name': 'Alistar Bennis', 'original_name': 'Alistar Bennis', 'popularity': 0.98, 'profile_path': None, 'cast_id': 49, 'character': 'Robert', 'credit_id': '61fce7ee1e259a0113e2778e', 'order': 11}, {'adult': False, 'gender': 2, 'id': 3412118, 'known_for_department': 'Acting', 'name': 'Varun Pande', 'original_name': 'Varun Pande', 'popularity': 0.6, 'profile_path': None, 'cast_id': 50, 'character': 'Yash', 'credit_id': '61fce7fadfaae9009c588c3f', 'order': 12}, {'adult': False, 'gender': 0, 'id': 3412128, 'known_for_department': 'Acting', 'name': 'Babajaan Devaraya', 'original_name': 'Babajaan Devaraya', 'popularity': 0.6, 'profile_path': None, 'cast_id': 60, 'character': 'Rastafarian', 'credit_id': '61fcea25eee18600cd3e95d0', 'order': 13}, {'adult': False, 'gender': 0, 'id': 3412129, 'known_for_department': 'Acting', 'name': 'Guia Bianchi', 'original_name': 'Guia Bianchi', 'popularity': 0.6, 'profile_path': None, 'cast_id': 61, 'character': 'Lola', 'credit_id': '61fcea3d7a97ab00732bb9e9', 'order': 14}, {'adult': False, 'gender': 1, 'id': 3565643, 'known_for_department': 'Acting', 'name': 'Priya Paramita Paul', 'original_name': 'Priya Paramita Paul', 'popularity': 0.6, 'profile_path': '/zTRyZGrYPMEWXXCw2NBGzupvAqL.jpg', 'cast_id': 62, 'character': 'zoya', 'credit_id': '62906bf3a24232009b59114b', 'order': 15}]"

In [24]:
def convert_cast(obj):
    count=0
    L=[]
    for i in ast.literal_eval(obj):
        if count<3:
            L.append(i['name'])
            count+=1
    return L

In [25]:
movies['cast'] = movies['cast'].apply(convert_cast)

In [26]:
movies['cast'][0]

['Taapsee Pannu', 'Tahir Raj Bhasin', 'Shreya Dhanwanthary']

In [27]:
movies['crew'][0]

"[{'adult': False, 'gender': 2, 'id': 1071, 'known_for_department': 'Directing', 'name': 'Tom Tykwer', 'original_name': 'Tom Tykwer', 'popularity': 4.312, 'profile_path': '/cu7F4AulzRbj0dZH9s5pRM61w64.jpg', 'credit_id': '617796df9ee0ef008c45483e', 'department': 'Writing', 'job': 'Original Story'}, {'adult': False, 'gender': 2, 'id': 1108802, 'known_for_department': 'Production', 'name': 'Mukesh Chhabra', 'original_name': 'Mukesh Chhabra', 'popularity': 2.972, 'profile_path': '/f5XI2wJs2JPcd5FSECsdcnkyOMW.jpg', 'credit_id': '61e09db05bce9e0041751368', 'department': 'Production', 'job': 'Casting Director'}, {'adult': False, 'gender': 0, 'id': 1208683, 'known_for_department': 'Production', 'name': 'Tanuj Garg', 'original_name': 'Tanuj Garg', 'popularity': 0.6, 'profile_path': None, 'credit_id': '5ff5b40d245dbe003d301373', 'department': 'Production', 'job': 'Producer'}, {'adult': False, 'gender': 0, 'id': 1376941, 'known_for_department': 'Production', 'name': 'Siddharth Atha', 'original_name': 'Siddharth Atha', 'popularity': 0.6, 'profile_path': None, 'credit_id': '61fce8f26f31af008f869555', 'department': 'Production', 'job': 'Executive Producer'}, {'adult': False, 'gender': 2, 'id': 1434492, 'known_for_department': 'Crew', 'name': 'Ejaz Gulab', 'original_name': 'Ejaz Gulab', 'popularity': 0.98, 'profile_path': None, 'credit_id': '61fce8915c3247009504c450', 'department': 'Crew', 'job': 'Stunt Coordinator'}, {'adult': False, 'gender': 0, 'id': 1561318, 'known_for_department': 'Production', 'name': 'Atul Kasbekar', 'original_name': 'Atul Kasbekar', 'popularity': 0.6, 'profile_path': None, 'credit_id': '5ff5b4267e9d5f004032ac2b', 'department': 'Production', 'job': 'Producer'}, {'adult': False, 'gender': 0, 'id': 1561320, 'known_for_department': 'Production', 'name': 'Shanti Sivaram Maini', 'original_name': 'Shanti Sivaram Maini', 'popularity': 0.6, 'profile_path': None, 'credit_id': '61fce92364de35004421dedd', 'department': 'Production', 'job': 'Co-Producer'}, {'adult': False, 'gender': 0, 'id': 1682059, 'known_for_department': 'Art', 'name': 'Aashish Porwal', 'original_name': 'Aashish Porwal', 'popularity': 0.6, 'profile_path': None, 'credit_id': '5ff5b46ab865eb003cb1ef68', 'department': 'Art', 'job': 'Art Direction'}, {'adult': False, 'gender': 0, 'id': 1730578, 'known_for_department': 'Lighting', 'name': 'Yash Khanna', 'original_name': 'Yash Khanna', 'popularity': 0.6, 'profile_path': None, 'credit_id': '6177964fa579f90027164d8c', 'department': 'Camera', 'job': 'Director of Photography'}, {'adult': False, 'gender': 0, 'id': 1860546, 'known_for_department': 'Production', 'name': 'Simran Sawhney', 'original_name': 'Simran Sawhney', 'popularity': 0.6, 'profile_path': None, 'credit_id': '5ff5b44cd38b580041cbc125', 'department': 'Production', 'job': 'Producer'}, {'adult': False, 'gender': 0, 'id': 1985232, 'known_for_department': 'Sound', 'name': 'Gautam Nair', 'original_name': 'Gautam Nair', 'popularity': 0.6, 'profile_path': None, 'credit_id': '61fce869ce997a010f725729', 'department': 'Sound', 'job': 'Sound Designer'}, {'adult': False, 'gender': 0, 'id': 2035070, 'known_for_department': 'Costume & Make-Up', 'name': 'Indrakshi Pattanaik', 'original_name': 'Indrakshi Pattanaik', 'popularity': 0.6, 'profile_path': None, 'credit_id': '61e08aa31511aa001c122ad5', 'department': 'Costume & Make-Up', 'job': 'Costume Designer'}, {'adult': False, 'gender': 0, 'id': 2036033, 'known_for_department': 'Editing', 'name': 'Priyank Prem Kumar', 'original_name': 'Priyank Prem Kumar', 'popularity': 0.6, 'profile_path': None, 'credit_id': '617797016e0d720063599cec', 'department': 'Editing', 'job': 'Editor'}, {'adult': False, 'gender': 0, 'id': 2266291, 'known_for_department': 'Art', 'name': 'Pradeep Paul Francis', 'original_name': 'Pradeep Paul Francis', 'popularity': 0.6, 'profile_path': None, 'credit_id': '61fce8b05c324700ddac68aa', 'department': 'Art', 'job': 'Production Design'}, {'adult': False, 'gender': 0, 'id': 2266293, 'known_for_department': 'Art', 'name': 'Diya Mukerjea', 'original_name': 'Diya Mukerjea', 'popularity': 0.6, 'profile_path': None, 'credit_id': '61fce8c56f31af00ba036b8b', 'department': 'Art', 'job': 'Production Design'}, {'adult': False, 'gender': 0, 'id': 2329287, 'known_for_department': 'Writing', 'name': 'Vinay Chhawal', 'original_name': 'Vinay Chhawal', 'popularity': 0.98, 'profile_path': None, 'credit_id': '61d9201f6331b200990b4acb', 'department': 'Writing', 'job': 'Writer'}, {'adult': False, 'gender': 0, 'id': 2542498, 'known_for_department': 'Production', 'name': 'Aakash Bhatia', 'original_name': 'Aakash Bhatia', 'popularity': 1.38, 'profile_path': None, 'credit_id': '617797a8894ed60064768a3b', 'department': 'Directing', 'job': 'Director'}, {'adult': False, 'gender': 0, 'id': 2542498, 'known_for_department': 'Production', 'name': 'Aakash Bhatia', 'original_name': 'Aakash Bhatia', 'popularity': 1.38, 'profile_path': None, 'credit_id': '61d920446dea3a001f020890', 'department': 'Writing', 'job': 'Writer'}, {'adult': False, 'gender': 0, 'id': 2553014, 'known_for_department': 'Sound', 'name': 'Sharvi Yadav', 'original_name': 'Sharvi Yadav', 'popularity': 0.6, 'profile_path': None, 'credit_id': '61e6904ac613ce008cefbfe5', 'department': 'Sound', 'job': 'Playback Singer'}, {'adult': False, 'gender': 0, 'id': 2680859, 'known_for_department': 'Writing', 'name': 'Puneet Chadha', 'original_name': 'Puneet Chadha', 'popularity': 0.6, 'profile_path': None, 'credit_id': '61fce90d64de35004421ded5', 'department': 'Crew', 'job': 'Additional Dialogue'}, {'adult': False, 'gender': 0, 'id': 2783444, 'known_for_department': 'Writing', 'name': 'Siddhant Kaushal', 'original_name': 'Siddhant Kaushal', 'popularity': 0.6, 'profile_path': None, 'credit_id': '61e690617d2bc1009fd31847', 'department': 'Writing', 'job': 'Lyricist'}, {'adult': False, 'gender': 0, 'id': 2925506, 'known_for_department': 'Production', 'name': 'Aayush Maheshwari', 'original_name': 'Aayush Maheshwari', 'popularity': 0.6, 'profile_path': None, 'credit_id': '5ff5b43a7e9d5f003e325971', 'department': 'Production', 'job': 'Producer'}, {'adult': False, 'gender': 0, 'id': 2925509, 'known_for_department': 'Production', 'name': 'Rohit Chandaliya', 'original_name': 'Rohit Chandaliya', 'popularity': 0.6, 'profile_path': None, 'credit_id': '5ff5b4b0f48e0d004172b353', 'department': 'Production', 'job': 'Production Manager'}, {'adult': False, 'gender': 0, 'id': 3139446, 'known_for_department': 'Writing', 'name': 'Sidhant Mago', 'original_name': 'Sidhant Mago', 'popularity': 0.98, 'profile_path': None, 'credit_id': '61e68f84a402c1001c119804', 'department': 'Sound', 'job': 'Original Music Composer'}, {'adult': False, 'gender': 0, 'id': 3139446, 'known_for_department': 'Writing', 'name': 'Sidhant Mago', 'original_name': 'Sidhant Mago', 'popularity': 0.98, 'profile_path': None, 'credit_id': '61e68f8e2d93750066f4b059', 'department': 'Sound', 'job': 'Playback Singer'}, {'adult': False, 'gender': 0, 'id': 3139446, 'known_for_department': 'Writing', 'name': 'Sidhant Mago', 'original_name': 'Sidhant Mago', 'popularity': 0.98, 'profile_path': None, 'credit_id': '61e68fa2a402c10042e9419c', 'department': 'Writing', 'job': 'Lyricist'}, {'adult': False, 'gender': 0, 'id': 3220399, 'known_for_department': 'Production', 'name': 'Vivek Krishnani', 'original_name': 'Vivek Krishnani', 'popularity': 0.6, 'profile_path': None, 'credit_id': '61d91f885ed8e9001d41c8bf', 'department': 'Production', 'job': 'Producer'}, {'adult': False, 'gender': 0, 'id': 3340143, 'known_for_department': 'Sound', 'name': 'Ronkini Gupta', 'original_name': 'Ronkini Gupta', 'popularity': 0.6, 'profile_path': None, 'credit_id': '61e53cff0cd32a0042fa6941', 'department': 'Sound', 'job': 'Playback Singer'}, {'adult': False, 'gender': 0, 'id': 3357290, 'known_for_department': 'Acting', 'name': 'Santanu Ghatak', 'original_name': 'Santanu Ghatak', 'popularity': 0.98, 'profile_path': None, 'credit_id': '61e53cdd7d2bc10041e8919a', 'department': 'Sound', 'job': 'Original Music Composer'}, {'adult': False, 'gender': 0, 'id': 3357290, 'known_for_department': 'Acting', 'name': 'Santanu Ghatak', 'original_name': 'Santanu Ghatak', 'popularity': 0.98, 'profile_path': None, 'credit_id': '61e53ceb2d93750041a5bbca', 'department': 'Writing', 'job': 'Lyricist'}, {'adult': False, 'gender': 0, 'id': 3373395, 'known_for_department': 'Writing', 'name': 'Ketan Pedgaonkar', 'original_name': 'Ketan Pedgaonkar', 'popularity': 0.98, 'profile_path': None, 'credit_id': '61d920363faba00041f7b438', 'department': 'Writing', 'job': 'Writer'}, {'adult': False, 'gender': 0, 'id': 3373396, 'known_for_department': 'Writing', 'name': 'Arnav Vepa Nanduri', 'original_name': 'Arnav Vepa Nanduri', 'popularity': 0.98, 'profile_path': None, 'credit_id': '61d9206097fdec0041035a24', 'department': 'Writing', 'job': 'Writer'}, {'adult': False, 'gender': 0, 'id': 3386264, 'known_for_department': 'Sound', 'name': 'Raghav Kaushik', 'original_name': 'Raghav Kaushik', 'popularity': 0.6, 'profile_path': None, 'credit_id': '61e53d0b6aa8e0008cc281c5', 'department': 'Sound', 'job': 'Playback Singer'}, {'adult': False, 'gender': 0, 'id': 3387728, 'known_for_department': 'Sound', 'name': 'Mayank Mehra', 'original_name': 'Mayank Mehra', 'popularity': 0.6, 'profile_path': None, 'credit_id': '61e68f746840cc0067eba773', 'department': 'Sound', 'job': 'Original Music Composer'}, {'adult': False, 'gender': 0, 'id': 3387729, 'known_for_department': 'Sound', 'name': 'Jay Anand', 'original_name': 'Jay Anand', 'popularity': 0.6, 'profile_path': None, 'credit_id': '61e68fb9f3b49a001c026418', 'department': 'Sound', 'job': 'Playback Singer'}, {'adult': False, 'gender': 0, 'id': 3387731, 'known_for_department': 'Sound', 'name': 'Harshal Vyas', 'original_name': 'Harshal Vyas', 'popularity': 0.98, 'profile_path': None, 'credit_id': '61e6900b07a8080067841de4', 'department': 'Sound', 'job': 'Playback Singer'}, {'adult': False, 'gender': 0, 'id': 3387732, 'known_for_department': 'Sound', 'name': 'Rahul Pais', 'original_name': 'Rahul Pais', 'popularity': 0.6, 'profile_path': None, 'credit_id': '61e69029b7abb50041006b2a', 'department': 'Sound', 'job': 'Original Music Composer'}, {'adult': False, 'gender': 0, 'id': 3387733, 'known_for_department': 'Sound', 'name': 'Nariman Khambata', 'original_name': 'Nariman Khambata', 'popularity': 0.6, 'profile_path': None, 'credit_id': '61e690362d93750041a91342', 'department': 'Sound', 'job': 'Original Music Composer'}, {'adult': False, 'gender': 0, 'id': 3412122, 'known_for_department': 'Production', 'name': 'Swati Iyer Chawla', 'original_name': 'Swati Iyer Chawla', 'popularity': 0.6, 'profile_path': None, 'credit_id': '61fce937ce997a006bbfd0f3', 'department': 'Production', 'job': 'Co-Producer'}, {'adult': False, 'gender': 0, 'id': 3412123, 'known_for_department': 'Production', 'name': 'Piya Sawhney', 'original_name': 'Piya Sawhney', 'popularity': 0.6, 'profile_path': None, 'credit_id': '61fce955bf0f6300a2e985ec', 'department': 'Production', 'job': 'Co-Producer'}, {'adult': False, 'gender': 0, 'id': 3865885, 'known_for_department': 'Sound', 'name': 'Shahbad Karan', 'original_name': 'Shahbad Karan', 'popularity': 0.6, 'profile_path': '/cBPJ5o4rTfe5IMuDbLty8BpXX1k.jpg', 'credit_id': '63f0ca37a6725400a3a2783a', 'department': 'Sound', 'job': 'Musician'}]"

In [28]:
def convert_crew(obj):
    L=[]
    for i in ast.literal_eval(obj):
        if i['job'] == 'Director':
            L.append(i['name'])
            break
    return L

In [29]:
movies['crew'] = movies['crew'].apply(convert_crew)

In [30]:
movies['overview'] = movies['overview'].apply(lambda x: x.split())

In [31]:
movies.iloc[0].overview

['When',
 'her',
 'boyfriend',
 'loses',
 'a',
 "mobster's",
 'cash,',
 'Savi',
 'races',
 'against',
 'the',
 'clock',
 'to',
 'save',
 'the',
 'day',
 '—',
 'if',
 'only',
 'she',
 'can',
 'break',
 'out',
 'of',
 'a',
 'curious',
 'cycle',
 'of',
 'dead',
 'ends.']

In [32]:
movies.head(75)

,movie_id,title,overview,genres,keywords,cast,crew
0,783461,Looop Lapeta,"[When, her, boyfriend, loses, a, mobster's, ca...","[Action, Comedy, Crime]","[remake, looop lapeta, saade saati]","[Taapsee Pannu, Tahir Raj Bhasin, Shreya Dhanw...",[Aakash Bhatia]
1,592508,Sooryavanshi,"[A, fearless,, faithful, albeit, slightly, for...","[Action, Crime, Thriller]","[police, sequel, police officer, cop universe]","[Akshay Kumar, Katrina Kaif, Ajay Devgn]",[Rohit Shetty]
2,864692,Pathaan,"[A, soldier, caught, by, enemies, and, presume...","[Action, Adventure, Thriller]","[spy, fake death, spy thriller, spy universe, ...","[Shah Rukh Khan, Deepika Padukone, John Abraham]",[Siddharth Anand]
3,1018228,Chor Nikal Ke Bhaga,"[A, flight, attendant, and, her, boyfriend, mu...","[Crime, Thriller]","[heist, airplane hijacking]","[Yami Gautam, Sunny Kaushal, Sharad Kelkar]",[Ajay Singh]
4,20453,3 Idiots,"[Rascal., Joker., Dreamer., Genius..., You've,...","[Drama, Comedy]","[suicide, suicide attempt, college, musical, s...","[Aamir Khan, R. Madhavan, Sharman Joshi]",[Rajkumar Hirani]
...,...,...,...,...,...,...,...
70,675592,Guilty,"[A, young, woman, from, a, small, town, accuse...","[Thriller, Drama]",[],"[Kiara Advani, Gurfateh Pirzada, Akansha Ranja...",[Ruchi Narain]
71,31977,Black,"[Black, is, an, adaptation, of, Helen, Keller'...",[Drama],"[deaf, mute, teacher, tale, blind, teacher stu...","[Amitabh Bachchan, Rani Mukerji, Ayesha Kapoor]",[Sanjay Leela Bhansali]
72,17478,Dhoom,"[A, gang, of, bikers, headed, by, the, cool-he...","[Action, Crime, Drama, Thriller]","[gang of thieves, cop, motor sport, motorcycle]","[John Abraham, Abhishek Bachchan, Esha Deol]",[Sanjay Gadhvi]
73,498448,Kesari,"[In, 1897,, an, army, of, 21, Sikhs, battles, ...","[Action, Drama, History, War]","[patriotism, kingdom, based on true story, kin...","[Akshay Kumar, Parineeti Chopra, Edward Sonnen...",[Anurag Singh]
74,277432,Happy New Year,"[Six, would-be, thieves, enter, a, prestigious...","[Action, Comedy, Crime]","[competition, diamond, dance, stripper, dubai,...","[Shah Rukh Khan, Deepika Padukone, Abhishek Ba...",[Farah Khan]

In [33]:
movies['overview'] = movies['overview'].apply(lambda x: [i.replace(" ","") for i in x])
movies['genres'] = movies['genres'].apply(lambda x: [i.replace(" ","") for i in x])
movies['keywords'] = movies['keywords'].apply(lambda x: [i.replace(" ","") for i in x])
movies['cast'] = movies['cast'].apply(lambda x: [i.replace(" ","") for i in x])
movies['crew'] = movies['crew'].apply(lambda x: [i.replace(" ","") for i in x])

In [34]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,783461,Looop Lapeta,"[When, her, boyfriend, loses, a, mobster's, ca...","[Action, Comedy, Crime]","[remake, loooplapeta, saadesaati]","[TaapseePannu, TahirRajBhasin, ShreyaDhanwanth...",[AakashBhatia]
1,592508,Sooryavanshi,"[A, fearless,, faithful, albeit, slightly, for...","[Action, Crime, Thriller]","[police, sequel, policeofficer, copuniverse]","[AkshayKumar, KatrinaKaif, AjayDevgn]",[RohitShetty]
2,864692,Pathaan,"[A, soldier, caught, by, enemies, and, presume...","[Action, Adventure, Thriller]","[spy, fakedeath, spythriller, spyuniverse, yrf...","[ShahRukhKhan, DeepikaPadukone, JohnAbraham]",[SiddharthAnand]
3,1018228,Chor Nikal Ke Bhaga,"[A, flight, attendant, and, her, boyfriend, mu...","[Crime, Thriller]","[heist, airplanehijacking]","[YamiGautam, SunnyKaushal, SharadKelkar]",[AjaySingh]
4,20453,3 Idiots,"[Rascal., Joker., Dreamer., Genius..., You've,...","[Drama, Comedy]","[suicide, suicideattempt, college, musical, sl...","[AamirKhan, R.Madhavan, SharmanJoshi]",[RajkumarHirani]

In [35]:
movies['tags'] = movies['overview'] + movies['genres'] + movies['keywords'] + movies['cast'] + movies['crew']

In [36]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew,tags
0,783461,Looop Lapeta,"[When, her, boyfriend, loses, a, mobster's, ca...","[Action, Comedy, Crime]","[remake, loooplapeta, saadesaati]","[TaapseePannu, TahirRajBhasin, ShreyaDhanwanth...",[AakashBhatia],"[When, her, boyfriend, loses, a, mobster's, ca..."
1,592508,Sooryavanshi,"[A, fearless,, faithful, albeit, slightly, for...","[Action, Crime, Thriller]","[police, sequel, policeofficer, copuniverse]","[AkshayKumar, KatrinaKaif, AjayDevgn]",[RohitShetty],"[A, fearless,, faithful, albeit, slightly, for..."
2,864692,Pathaan,"[A, soldier, caught, by, enemies, and, presume...","[Action, Adventure, Thriller]","[spy, fakedeath, spythriller, spyuniverse, yrf...","[ShahRukhKhan, DeepikaPadukone, JohnAbraham]",[SiddharthAnand],"[A, soldier, caught, by, enemies, and, presume..."
3,1018228,Chor Nikal Ke Bhaga,"[A, flight, attendant, and, her, boyfriend, mu...","[Crime, Thriller]","[heist, airplanehijacking]","[YamiGautam, SunnyKaushal, SharadKelkar]",[AjaySingh],"[A, flight, attendant, and, her, boyfriend, mu..."
4,20453,3 Idiots,"[Rascal., Joker., Dreamer., Genius..., You've,...","[Drama, Comedy]","[suicide, suicideattempt, college, musical, sl...","[AamirKhan, R.Madhavan, SharmanJoshi]",[RajkumarHirani],"[Rascal., Joker., Dreamer., Genius..., You've,..."

In [37]:
movies = movies[['movie_id', 'title', 'tags']]

In [38]:
movies

,movie_id,title,tags
0,783461,Looop Lapeta,"[When, her, boyfriend, loses, a, mobster's, ca..."
1,592508,Sooryavanshi,"[A, fearless,, faithful, albeit, slightly, for..."
2,864692,Pathaan,"[A, soldier, caught, by, enemies, and, presume..."
3,1018228,Chor Nikal Ke Bhaga,"[A, flight, attendant, and, her, boyfriend, mu..."
4,20453,3 Idiots,"[Rascal., Joker., Dreamer., Genius..., You've,..."
...,...,...,...
15868,77663,Killing Season,"[Two, veterans, of, the, Bosnian, War,, one, A..."
15869,14435,My Bloody Valentine,"[Ten, years, ago,, a, tragedy, changed, the, t..."
15870,9022,All the Boys Love Mandy Lane,"[Beautiful, Mandy, Lane, isn't, a, party, girl..."
15871,512025,There's Someone Inside Your House,"[As, the, countdown, to, graduation, begins,, ..."
15872,22949,Old Dogs,"[Charlie, and, Dan, have, been, best, friends,..."

In [39]:
movies['tags'] = movies['tags'].apply(lambda x:" ".join(x))

In [40]:
movies['tags'] = movies['tags'].apply(lambda x: x.lower())

In [41]:
movies['tags'][0]

"when her boyfriend loses a mobster's cash, savi races against the clock to save the day — if only she can break out of a curious cycle of dead ends. action comedy crime remake loooplapeta saadesaati taapseepannu tahirrajbhasin shreyadhanwanthary aakashbhatia"

In [80]:
movies.duplicated().sum()

np.int64(0)

In [43]:
movies.drop_duplicates(inplace=True)

In [44]:
movies.shape

(15605, 3)

# Vectorization 
Bag of Words technique

In [50]:
movies.head()

,movie_id,title,tags
0,783461,Looop Lapeta,"when her boyfriend loses a mobster's cash, sav..."
1,592508,Sooryavanshi,"a fearless, faithful albeit slightly forgetful..."
2,864692,Pathaan,a soldier caught by enemies and presumed dead ...
3,1018228,Chor Nikal Ke Bhaga,a flight attendant and her boyfriend must stea...
4,20453,3 Idiots,rascal. joker. dreamer. genius... you've never...

In [51]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features = 5000, stop_words = 'english')

In [52]:
vectors = cv.fit_transform(movies['tags']).toarray()

In [53]:
vectors.shape

(15605, 5000)

In [54]:
vectors[0]

array([0, 0, 0, ..., 0, 0, 0], shape=(5000,))

In [55]:
cv.get_feature_names_out()

array(['000', '10', '11', ..., 'zombies', 'zone', 'zoo'],
      shape=(5000,), dtype=object)

# Cosine Similarity
--- minimum distance between two vectors means how much similarity between two objects

In [58]:
from sklearn.metrics.pairwise import cosine_similarity

In [59]:
similarity = cosine_similarity(vectors)

In [60]:
similarity[0]

array([1.        , 0.09701425, 0.11764706, ..., 0.        , 0.        ,
       0.05756737], shape=(15605,))

# recommender function

In [61]:
movies

,movie_id,title,tags
0,783461,Looop Lapeta,"when her boyfriend loses a mobster's cash, sav..."
1,592508,Sooryavanshi,"a fearless, faithful albeit slightly forgetful..."
2,864692,Pathaan,a soldier caught by enemies and presumed dead ...
3,1018228,Chor Nikal Ke Bhaga,a flight attendant and her boyfriend must stea...
4,20453,3 Idiots,rascal. joker. dreamer. genius... you've never...
...,...,...,...
15868,77663,Killing Season,"two veterans of the bosnian war, one american,..."
15869,14435,My Bloody Valentine,"ten years ago, a tragedy changed the town of h..."
15870,9022,All the Boys Love Mandy Lane,"beautiful mandy lane isn't a party girl but, w..."
15871,512025,There's Someone Inside Your House,"as the countdown to graduation begins, student..."
15872,22949,Old Dogs,charlie and dan have been best friends and bus...

In [62]:
def recommend(movie):
    
    movie_index = int(movies[movies['title'] == movie].index[0])
    distance = similarity[movie_index]
    movie_list = sorted(list(enumerate(distance)), reverse = True, key = lambda x:x[1])[1:11]

    for i in movie_list:
        print(movies.iloc[i[0]]['title'])

In [63]:
movies.iloc[1].movie_id

'592508'

In [64]:
int(movies[movies['title'] == 'Looop Lapeta'].index[0])          #index of specific movie

0

In [65]:
sorted(list(enumerate(similarity[1])), reverse = True, key = lambda x:x[1])[1:6]

[(503, np.float64(0.3464101615137755)),
 (669, np.float64(0.31378581622109447)),
 (65, np.float64(0.31304951684997057)),
 (3587, np.float64(0.3055050463303894)),
 (535, np.float64(0.30237157840738177))]

In [66]:
movies[movies['title'] == 'Toy Story'].index[0]

np.int64(6232)

In [67]:
movies.iloc[0]['title']

'Looop Lapeta'

In [68]:
recommend('3 Idiots')

Brad's Status
Chhichhore
Batti Gul Meter Chalu
HahaKaar
Ecce Bombo
Yaariyan
Irrational Man
Hum Chaar
Azad
Battle of the Classes

In [69]:
import pickle

In [70]:
pickle.dump(movies, open("movie_list.pkl", "wb"))

In [71]:
pickle.dump(similarity, open("similarities.pkl", "wb"))